# Node modules
node_modules/

# Android build outputs
android/app/build/
android/build/
android/.gradle/

# Capacitor generated folders
android/capacitor-cordova-android-plugins/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Visual Studio Code
.vscode/

# Local env
.env
